@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";
@import url("https://use.typekit.net/uxr0xoa.css");
/*
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Reset */
::-webkit-scrollbar {
    display:none;
}
svg {
    fill:currentColor;
}

body {
    margin:0;
    text-rendering:optimizeLegibility;
    overflow-x:hidden;
    background:#121212;
    backface-visibility: hidden;
}

@keyframes load {
    0% {
        transform:translateX(-30%);
        opacity:.5;
    }
    100% {
        transform:none;
        opacity:1;
    }
}

#mainbody {
    width:100%;
    height:100%;
    display:block;
    position:absolute;
}

.header {
    height:25%;
    width:100%;
    position:relative; 
    background:rgba(0,0,0,0.45); 
    display:block;
    padding:25px;
    text-decoration:none;
    animation:load 1s ease backwards;
    overflow:hidden;
}

.header .background {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    background-position:center;
    background-repeat:no-repeat;
    background-size:100%;
    transform:scale(1.025);
    transition:250ms ease transform, 250ms ease background-color;
}


#header {
    font-family:'acumin-pro', sans-serif;
    color:#fff;
    font-size:48px;
    font-weight:700;
    transition:250ms ease padding;
}

#subtext {
    font-family:'acumin-pro', sans-serif;
    color:#b5b5b5;
    font-size:16px;
    font-weight:300;
    transition:250ms ease padding;
}

.discont {
    font-family:'acumin-pro', sans-serif;
    color:#f04747;
    font-size:12px;
    font-weight:500;
    margin-left:4px;
    display:inline-block;
}

.devs {
    background-image:url();
}


.maintext:nth-child(1) {
    animation-delay:.2s;
}

.maintext:nth-child(2) {
    animation-delay:.4s;
}

.maintext:nth-child(3) {
    animation-delay:.6s;
}

.maintext:nth-child(4) {
    animation-delay:.8s;
}

.maintext:nth-child(5) {
    animation-delay:1s;
}

.maintext:nth-child(6) {
    animation-delay:1.2s;
}

.maintext:nth-child(7) {
    animation-delay:1.4s;
}

.maintext:hover {
    background:rgba(0,0,0,0.65);
    transition:350ms ease background;
}

.maintext:hover .background {
    transform:scale(1.05);
}

.maintext:hover #subtext,
.maintext:hover #header {
    padding-left:25px;
}

.link-button {
    position:absolute;
    right:50px;
    height:100%;
    width:15%;
    top:0;
    background:#121212;
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:0;
    transform:translateX(25%) scaleX(.75);
    transform-origin:right;
}

.link-button svg {
    display:block;
    width:25%;
    height:25%;
    color:#fff;
}

.project:hover .link-button {
    transform:none;
    opacity:1;
    transition:250ms ease;
}

.link-button:hover {
    background:#242424;
}

.link-button:active {
    background:#464646;
}